---
import Fighter from "../../components/Fighter.astro";
import MainMenu from "../../components/MainMenu.astro";
import ShowCase from "../../components/ShowCase.astro";
import Devider from "../../components/Devider.astro";
import Footer from "../../components/Footer.astro";
import Layout from "../../layouts/Layout.astro";
import { fighterDatas } from "../../lib/fighterDatas";
import { showCaseData } from "../../lib/showCaseData";
import Add from "../../components/Add.astro";
---

<Layout title="FighterCard">
  <MainMenu />
  <div class="showCase">
    {showCaseData.map((showCase) => <Add showCase={showCase} />)}
  </div>
  <!-- 
  <div class="showCase">
    {showCaseData.map((showCase) => <ShowCase showCase={showCase} />)}
  </div>
-->

  <Devider />
  <div class="container">
    {fighterDatas.map((fighterData) => <Fighter fighterData={fighterData} />)}
  </div>
  <Footer />
</Layout>

<style>
  body {
  }
  .showCase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    padding: 50px;
    max-width: 1150px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    padding: 30px;
    max-width: 1150px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
</style>
