---
import { db, fighterData } from "astro:db";
import seed from "../../../db/seed";

// Seed initial data if needed
await seed();

export async function post({ request }) {
  // parse form data
  const formData = await request.formData();
  const name = formData.get("name");
  const belt = formData.get("belt");
  const age = Number(formData.get("age"));
  const weight = Number(formData.get("weight"));
  const height = Number(formData.get("height"));
  const bio = formData.get("bio");

  if (
    typeof name === "string" &&
    typeof belt === "string" &&
    !isNaN(age) &&
    !isNaN(weight) &&
    !isNaN(height) &&
    typeof bio === "string"
  ) {
    // insert form data into the fighterData table
    await db
      .insert(fighterData)
      .values({ name, belt, age, weight, height, bio });
  }
}

export async function get() {
  // render the new list of fighter data on each request
  const fighterDatas = await db.select().from(fighterData);
  return {
    body: JSON.stringify(fighterDatas),
  };
}
---

<form method="POST" enctype="multipart/form-data" style="display: grid">
  <label for="name">name</label>
  <input id="name" name="name" />

  <label for="belt">belt</label>
  <textarea id="belt" name="belt"></textarea>

  <label for="age">age</label>
  <input id="age" name="age" />

  <label for="weight">weight</label>
  <input id="weight" name="weight" />

  <label for="height">height</label>
  <input id="height" name="height" />

  <label for="bio">bio</label>
  <input id="bio" name="bio" />

  <button type="submit">Submit</button>
</form>

<!--render `comments`-->
