---
import Fighter from "../components/Fighter.astro";
import MainMenu from "../components/MainMenu.astro";
import Layout from "../layouts/Layout.astro";
import { fighterDatas } from "../lib/fighterDatas";
---

<Layout title="FighterCard">
  <MainMenu />
  <div class="container">
    {fighterDatas.map((fighterData) => <Fighter fighterData={fighterData} />)}
  </div>
</Layout>

<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    padding: 30px;
    max-width: 1150px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
</style>
