---
import { db, Comment } from "astro:db";

const comments = await db.select().from(Comment);
---

<h2>Data:</h2>

{
  comments.map(({ name, belt }) => (
    <article>
      <p>Name: {name}</p>
      <p>Belt: {belt}</p>
    </article>
  ))
}
