---
import { Image } from "astro:assets";
import logo from "";
---

<div class="menuBar">
  <div>Ahoj</div>
</div>

<style>
  .menuBar {
    display: flex;
    padding: 15px;
    background-color: #262626;
    height: 30px;
    align-items: center;
  }
</style>
