---
import { Image } from "astro:assets";
import FighterCardAdd from "../pages/fighterCardAdd.astro";
const { showCase } = Astro.props;
import Add from "./Add.astro";
import logo from "../assets/logo.png";
import discord from "../assets/discord.png";
import minus from "../assets/minus.png";
import add from "../assets/add.png";
import edit from "../assets/edit.png";
import plus from "../assets/plus.png";
import retype from "../assets/retype.png";
import AddFighter from "../pages/action/AddFighter.astro";
import Delete from "./Delete.astro";
---

<ul>
  <div class="logoPart">
    <li class="homeLogo"><a href="../fighterCard">FighterCards</a></li>
    <!--
  <li><Image src={logo} alt="mainLogo" /></li>
-->
  </div>

  <div class="textPart">
    <li>
      <a href="../action/AddFighter"><Image src={plus} alt="" class="logo" /></a
      >
    </li>
    <li>
      <a href="../action/DeleteFighter"
        ><Image src={minus} alt="" class="logo" /></a
      >
    </li>
    <li>
      <a href="/action/Edit"><Image src={retype} alt="" class="logo" /></a>
    </li>
  </div>
</ul>

<style>
  @import url(https://fonts.googleapis.com/css?family=VT323);
  ul {
    display: flex;
    justify-content: space-between;
    top: 0;
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    /* Původní
    background-color: #242429;
    */
    background-color: #171717;
    padding: 15px;
    border-radius: 0.9em;
  }

  li {
    float: left;
    list-style-type: none;
    max-width: 50px;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  .logo {
    width: 100%;
    height: 100%;
  }

  .textPart {
    display: flex;
    gap: 20px;
  }
</style>
